<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunesRichPresence_Clone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <iTunesRichPresence_Clone.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayingTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PlayingBottomLine" serializeAs="String">
                <value>%playlist_type: %playlist_name</value>
            </setting>
            <setting name="PausedTopLine" serializeAs="String">
                <value>%artist - %track</value>
            </setting>
            <setting name="PausedBottomLine" serializeAs="String">
                <value>일시정지 됨</value>
            </setting>
            <setting name="DisplayPlaybackDuration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ExperimentsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>iTunes</value>
            </setting>
            <setting name="ClearOnPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccentsEn" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Purple</string>
                        <string>Orange</string>
                        <string>Lime</string>
                        <string>Emerald</string>
                        <string>Teal</string>
                        <string>Cyan</string>
                        <string>Cobalt</string>
                        <string>Indigo</string>
                        <string>Violet</string>
                        <string>Pink</string>
                        <string>Magenta</string>
                        <string>Crimson</string>
                        <string>Amber</string>
                        <string>Yellow</string>
                        <string>Brown</string>
                        <string>Olive</string>
                        <string>Steel</string>
                        <string>Mauve</string>
                        <string>Taupe</string>
                        <string>Sienna</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AccentsKr" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>빨간색</string>
                        <string>초록색</string>
                        <string>파란색</string>
                        <string>보라색</string>
                        <string>주황색</string>
                        <string>라임색</string>
                        <string>에메랄드</string>
                        <string>청록색</string>
                        <string>시안</string>
                        <string>코발트</string>
                        <string>남색</string>
                        <string>자주색</string>
                        <string>분홍색</string>
                        <string>자홍색</string>
                        <string>심홍색</string>
                        <string>등색</string>
                        <string>노란색</string>
                        <string>갈색</string>
                        <string>갈록색</string>
                        <string>Steel</string>
                        <string>모브색</string>
                        <string>회갈색</string>
                        <string>시에나</string>
                    </ArrayOfString>
                </value>
            </setting>
        </iTunesRichPresence_Clone.Properties.Settings>
    </userSettings>
</configuration>